<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Configuration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body>
<h1 align="center"><font color="#959fe5"> Configuration Page</font></h1>

<div class="container">
    <div class="row">
        <div class="col-sm-1 col-md-1 col-lg-1">
        </div>
        <div class="col-sm-11 col-md-11 col-lg-11">
            <br>
            <h3> <font color="#ce8f48">Choose Your Sheet and Columns below:</font></h3>
            <br>
            <form class="column-form" action="/output" method="post">
            <h5> <font color="#9b4455">Note: File You Uploaded: {{file_Selected}}</font></h5>
                <h4>Choose Your Desired Sheet:</h4>
                <select id="sheetSelect" name="sheetSelect" >
                    {% for option_sheet in listOfSheets %}
                    <option value="{{option_sheet}}">{{option_sheet}}</option>
                    {% endfor %}
                </select>
                <br>
                <br>

                <h4>Choose Appropriate Columns:</h4>

                <pre>
                Potential  : <input id="potential_ip" name="potential_ip" type="text" size="4" required placeholder="A"> <br>
                Current    : <input id="current_ip" name="current_ip" type="text" size="4" required placeholder="B" > <br>
                Capacity   : <input id="capacity_ip" name="capacity_ip" type="text" size="4" required placeholder="C" > <br>
                Time       : <input id="time_ip" name="time_ip" type="text" size="4" required placeholder="D" > <br>
                Row Starts : <input id="rowstart_ip" name="rowstart_ip" type="number" size="4" value=2 required> <br>
                Gap between
                Charge &
                Discharge  : <input id="gap_ip" name="gap_ip" type="number" size="4" value=0 required> <br>
                </pre>
                <input type="submit" class="btn btn-primary btn-lg">
            </form>

        </div>
    </div>
    </div>

</div>
</body>
</html>