<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <<!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Excel Conversion</title>

</head>
<body>
<div class="container" >
<h1 align="center"><b>AutoExcel</b></h1>
    <h3><b><u> About Us</u></b></h3>
    <h3>A web app to automate Excel sheet manipulations. Developed for Electrical Engineering Research, FSU/FAMU Florida</h3>
    <h3>Step 1: Choose Your File (only .xls or .xlsx files): </h3>

<form id="upldform" enctype="multipart/form-data" method="post" action="/fileupload">
   <input id="ipfile" name="ipfile" type="file" />
    <br>
    <h3>Step 2: Submit Your File</h3>
    <button class="btn btn-success" type="submit"> Submit <span class="glyphicon glyphicon-send"></span></button>
    <!--<input type="submit" class="btn btn-success" value="Done" id="submit" />-->
</form>
</div>
</body>
</html>